body {
  background-color: #000000;
}

canvas {
  position: absolute;
  display: block;
  background-color: #000000;
  border: 1px solid #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: absolute;
  display: block;
  cursor: pointer;
  background-color: #505050;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-family: monospace;
  text-align: center;
  padding: 15px;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.play {
  background-color: #ac6100;
}

button.again {
  background-color: #005800;
  top: 45%;
}

button.quit {
  background-color: #580000;
  top: 55%;
}
