body {
  background-color: black;
}

canvas {
  position: absolute;
  display: block;
  background-color: black;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: relative;
  display: block;
  cursor: pointer;
  background-color:darkgrey;
  color: white;
  border: none;
  font-size: 18px;
  font-family: monospace;
  text-align: center;
  padding: 15px;
  margin: 15px;
  width: 250px;
}

button.play {
  background-color: firebrick;
}

button.again {
  background-color: tomato;
}

button.quit {
  background-color: palevioletred;
}

div.buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
