:root {
    --background-color: ghostwhite;
    --color: black;
    --random-color: darkgrey;
    font-family: monospace;
}

body {
    background-color:  var(--background-color);
    color: var(--color);
    margin: 0px;
}

h1 {
    color: var(--background-color);
    margin: 0px;
}

h2, h3, h4, h5, h6 {
    color: var(--random-color);
    margin: 0px;
}

a {
    -webkit-tap-highlight-color: transparent;
    color: var(--background-color);
}

p {
    text-align: center;
    margin: 0px;
}

ul {
    padding-left: 20px;
    margin: 0px;
}

li {
    padding: 5px;
}

header {
    background-color: var(--random-color);
    text-align: center;
    padding: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--random-color);
    color: var(--background-color);
    text-align: center;
    gap: 20px;
    padding: 25px 50px;
}

div.outter-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    max-width: 600px;
    margin: 75px auto;
}

div.inner-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

div.outter-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
    max-width: 800px;
    margin: 75px auto;
}

@media screen and (max-width: 600px) {
    div.outter-row {
        flex-direction: column;
        align-items: center;
        gap: 75px;
    }
}
