:root {
    --background-color: white;
    --random-color: black;
    --text-color: black;
    font-family: monospace;
}

body {
    background-color:  var(--background-color);
    color: var(--random-color);
    margin: auto;
}

h1 {
    background-color: var(--random-color);
    color: var(--background-color);
    text-align: center;
    padding: 50px 50px;
    margin-top: 0px;
}

h2 {
    text-align: center;
    margin: auto;
}

h3 {
    text-align: center;
}

p {
    color: var(--text-color);
    text-align: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

ul {
    color: var(--text-color);
    padding-left: 20px;
}

li {
    padding: 5px 0px;
}

div.list-number-text {
    display: flex;
    flex-direction: row;
}

div.list-number {
    display: inline-block;
    min-width: 50px;
}

div.list-text {
    display: inline-block;
}

div.ingredients-and-utensils {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 500px) {
    div.ingredients-and-utensils {
        flex-direction: column;
        align-items: center;
    }
}

div.ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 50px;
}

div.utensils {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 50px;
}

div.how-to-make {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 50px;
}

footer {
    background-color: var(--random-color);
    color: var(--background-color);
    text-align: center;
    padding: 25px 50px;
    margin-top: 100px;
}
