:root {
    --background-color: ghostwhite;
}

body {
    background-color:  var(--background-color);
    color: rosybrown;
    font-family: monospace;
    margin: 0px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    background-color: rosybrown;
    color: var(--background-color);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
}

a::selection {
    background-color: transparent;
}

a:link {
    background-color: rosybrown;
}

a:visited {
    background-color: thistle;
}

a:hover {
    animation: jiggle 0.20s 1;
}

@keyframes jiggle {
  25% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}

hr {
    border: 1px solid rosybrown;
    width: 98%;
    margin: 0px auto;
}

button.theme {
    background-color: rosybrown;
    color: var(--background-color);
    font-family: monospace;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 20px;
}

button.theme:hover {
    animation: jiggle 0.20s 1;
}

div.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 25px auto 100px;
}

div.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    margin-bottom: 50px;
}

header {
    text-align: center;
    padding: 50px;
}

footer {
    text-align: center;
    padding: 25px 50px;
}
