:root {
    --background-color: hsl(240, 100%, 99%);
    --color: black;
    font-family: monospace;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    margin: 0px;
}

img {
    width: 100%;
}

div.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 50px auto;
}

div.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    flex: 25%;
    gap: 8px;
    max-width: 20%;
    padding: 50px 0px;
}

header {
    color: var(--color);
    text-align: center;
    padding: 15px 0px;
    margin: 50px auto;
}

footer {
    color: var(--color);
    text-align: center;
    padding: 25px 0px;
    margin: 50px auto;
}

@media screen and (max-width: 1800px) {
    div.column {
        flex: 33.33%;
        max-width: 26.67%;
    }
}

@media screen and (max-width: 1200px) {
    div.column {
        flex: 50%;
        max-width: 40%;
    }
}

@media screen and (max-width: 600px) {
    div.column {
        flex: 100%;
        max-width: 80%;
    }
}
