:root {
    --background-color: hsl(240, 100%, 99%);
    --color: black;
    --gradient-color-01: hsl(240, 100%, 99%);
    --gradient-color-02: hsl(0, 0%, 50%);
    font-family: monospace;
}

body {
    background-color: var(--background-color);
    background-image: linear-gradient(to bottom right, var(--gradient-color-01), var(--gradient-color-02));
    color: var(--color);
    margin: 0px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

img {
    display: block;
    border-radius: 25px;
    width: 80%;
    max-width: 600px;
    margin: 50px auto
}

div.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 50px 100px 50px;
}

header {
    text-align: center;
    padding: 50px;
}

footer {
    text-align: center;
    padding: 25px 50px;
}
