:root {
    --background-color: ghostwhite;
    --color: black;
    --thumb-color: darkgrey;
    font-family: monospace;
}

body {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--background-color);
    color: var(--color);
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

div.question h2,
h4 {
    color: var(--background-color);
    word-wrap: break-word;
}

hr {
    border: 1px solid var(--color);
    width: 95%;
    margin: 0px auto;
}

div.outer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 75px auto;
}

div.inner-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    max-width: 1000px;
}

div.inner-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}

header {
    text-align: center;
    padding: 50px;
}

footer {
    text-align: center;
    padding: 25px 50px;
}

input[type=text].question {
    background-color: var(--background-color);
    color: var(--color);
    font-family: monospace;
    font-size: 18px;
    border: 1px solid var(--color);
    border-radius: 0px;
    outline: none;
    width: 60%;
    max-width: 600px;
    padding: 10px;
}

div.question {
    background-color: var(--random-color);
    width: 60%;
    padding: 10px;
}

button {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--random-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
    padding: 10px;
}