:root {
    --background-color: hsl(240, 100%, 99%);
    --color: black;
    --thumb: grey;
    font-family: monospace;
}

body {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--background-color);
    color: var(--color);
    margin: 0px;
}

div.outer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

div.inner-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    max-width: 1000px;
}

div.color-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    gap: 5px;
    cursor: pointer;
    height: 100px;
}

div.color-text {
  display: none;
  padding: 0px 10px
}

div.color-text:hover {
    text-decoration: underline;
}

div.marker {
    height: 10px;
    width: 10px;
}

header {
    text-align: center;
    margin: 80px auto;
}

footer {
    text-align: center;
    margin: 80px auto;
}

div.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}

input[type=range].slider {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color);
    outline: none;
    opacity: 0.8;
    cursor: pointer;
    height: 10px;
    width: 80%;
    margin: 0px;
}

input[type=range].slider:hover {
  opacity: 1;
}

input[type=range].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--thumb);
    border-radius: 0px;
    border: none;
    height: 20px;
    width: 10px;
}

input[type=range].slider::-moz-range-thumb {
    background-color: var(--thumb);
    border-radius: 0px;
    border: none;
    height: 20px;
    width: 10px;
}
