:root {
    --black: rgba(0, 0, 0, 1.0);
    --blue: rgba(27, 102, 133, 1.0);
    --orange: rgba(251, 112, 115, 1.0);
    --purple: rgba(114, 86, 135, 1.0);
    --white: rgba(255, 255, 255, 1.0);
    --gray-light: rgba(187, 187, 187, 0.40);
    --gray-dark: rgba(77, 77, 77, 1.0);

    font-family: "Trebuchet MS";
}

body {
    background-color: var(--blue);
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

.folder {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    height: 65vh;
    width: 85vw;
    border-radius: 25px;
    border-top-right-radius: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 500px;
    min-width: 750px;
    max-height: 1000px;
    max-width: 1500px;
    padding: 10px;
}

.folder .tab {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--white);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    bottom: 99%;
    right: 0%;
    height: 5vh;
    width: 50vw;
    min-height: 25px;
    min-width: 500px;
    max-height: 50px;
    max-width: 1000px;
    padding: 10px;
}

.folder .container-information {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    font-size: 15px;
    height: 100%;
    width: 240px;
    margin: 5px;
}

.folder .container-information .image {
    position: relative;
    display: block;
    background-image: url("placeholder.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50px;
    height: 150px;
    width: 150px;
    margin: 20px;
}

.folder .container-information .title {
    position: relative;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
}

.folder .container-information .role {
    position: relative;
    display: block;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 20px;
    padding: 10px;
}

.folder .container-information .text {
    position: relative;
    display: block;
    padding: 10px;
}

.folder .container-about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 25px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    font-size: 15px;
    height: 100%;
    width: 100%;
    margin: 5px;
}

.folder .container-about .title {
    position: relative;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    top: 5%;
    left: 5%;
}

.folder .container-about .text {
    position: relative;
    display: block;
    max-width: 90%;
    left: 5%;
    padding: 10px;
}

.folder .container-about .container-box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.folder .container-about .container-box .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--purple);
    border-radius: 15px;
    width: 90%;
    height: 90%;
    margin: auto;
}

.folder .container-about .container-box .box:hover {
    background-color: var(--gray-dark);
    color: var(--white);
    box-shadow: 5px 5px 0 0 var(--purple);
    transform: translate(-2%, -2%);
    transition: 0.25s;
}

button {
    color: var(--orange);
    background: none;
    border: transparent;
    width: 150px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.slide {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.slide:hover,
.slide:focus {
    color: var(--white);
    box-shadow: inset 150px 0 0 0 var(--purple);
    transition: 0.25s;
}

/* hr {
    color: var(--white-01);
    opacity: 0.25;
}

h1 {
    color: var(--white-01);
    font-family: var(--font);
    font-size: 40px;
    text-align: center;
}

h2 {
    color: var(--white-01);
    font-family: var(--font);
    font-size: 30px;
    text-align: center;
}

h3 {
    color: var(--white-01);
    font-family: var(--font);
    font-size: 20px;
    text-align: center;
}

p {
    align-items: center;
    color: var(--white-01);
    display: flex;
    font-family: var(--font);
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.grid-container-01 {
    background-color: transparent;
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-column: 1;
    padding: 20px;
}

.grid-container-02 {
    background-color: var(--green-01);
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-column: 2;
    margin: 10px;
    padding: 20px;
}

.grid-container-02:hover {
    background-color: var(--green-02);
    color: var(--gray);
    transform: scale(1.05, 1.05);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover .grid-item {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover p {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover ul {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover h1 {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover h2 {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover h3 {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-item {
    background-color: var(--white-02);
    border-radius: 5px;
    color: var(--white-01);
    font-family: var(--font);
    font-size: 20px;
    padding: 20px;
    text-align: left;
}

.container-item-01 {
    grid-column: 1;
    grid-row: 1 / span 5;
}

.container-item-02 {
    grid-column: 2;
    grid-row: 1;
}

.container-item-03 {
    grid-column: 2;
    grid-row: 2;
}

.container-item-04 {
    grid-column: 2;
    grid-row: 3;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
} */