:root {
    --black: rgba(0, 0, 0, 1.0);
    --blue: rgba(27, 102, 133, 1.0);
    --gray-light: rgba(187, 187, 187, 0.40);
    --gray-dark: rgba(77, 77, 77, 1.0);
    --green: rgba(23, 69, 59, 1.0);
    --orange: rgba(251, 112, 115, 1.0);
    --purple: rgba(114, 86, 135, 1.0);
    --white: rgba(255, 255, 255, 1.0);
    --yellow: rgba(245, 190, 97, 1.0);

    font-family: "Trebuchet MS";
}

body {
    background-color: var(--blue);
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

.folder {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    height: 65vh;
    width: 85vw;
    border-radius: 25px;
    border-top-right-radius: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 600px;
    min-width: 750px;
    max-height: 800px;
    max-width: 1200px;
}

.folder .tab {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--white);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    bottom: 99%;
    right: 0%;
    height: 5vh;
    width: 50vw;
    min-height: 30px;
    min-width: 500px;
    max-height: 40px;
    max-width: 800px;
    padding: 10px;
}

.folder .container-information {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    font-size: 15px;
    height: 100%;
    width: 240px;
    margin-right: 5px;
}

.folder .container-information .image {
    position: relative;
    display: block;
    background-image: url("placeholder.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50px;
    height: 150px;
    width: 150px;
    margin: 20px;
}

.folder .container-information .title {
    position: relative;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
}

.folder .container-information .role {
    position: relative;
    display: block;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 20px;
    padding: 10px;
}

.folder .container-information .text {
    position: relative;
    display: block;
    padding: 10px;
}

.folder .container-about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 25px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    font-size: 15px;
    height: 100%;
    width: 100%;
    margin-left: 5px;
}

.folder .container-about .title {
    position: relative;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    top: 3%;
    left: 5%;
}

.folder .container-about .text {
    position: relative;
    display: block;
    max-width: 90%;
    left: 5%;
    padding: 10px;
}

.folder .container-about .container-box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

.folder .container-about .container-box .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--purple);
    border-radius: 15px;
    width: 90%;
    height: 90%;
    margin: auto;
}

.folder .container-about .container-box .box:hover {
    background-color: var(--gray-dark);
    color: var(--white);
    box-shadow: 5px 5px 0 0 var(--purple);
    transform: translate(-3%, -3%);
    transition: 0.25s;
}

.folder .container-education {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 25px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    font-size: 15px;
    height: 100%;
    width: 100%;
}

.folder .container-education .image {
    position: absolute;
    display: block;
    background-color: var(--white);
    background-image: url("spartan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250%;
    border-radius: 100%;
    top: 0;
    right: 0%;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.folder .container-education .triangle {
    position: absolute;
    display: block;
    overflow: hidden;
    top: -1%;
    right: 0%;
    width: 400px;
    height: 400px;
    transform: rotate(180deg);
}

.folder .container-education .triangle:before {
    content: "";
    position: absolute;
    background: var(--white);
    width: 141.42%;
    height: 141.42%;
    transform-origin: 0 0;
    transform: rotate(45deg);
}

.folder .container-education .title {
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 25px;
    text-decoration-line: overline underline;
    text-decoration-color: var(--white);
    text-transform: uppercase;
    white-space: nowrap;
    top: 0%;
    left: 5%;
    max-width: 95%;
    margin-top: 100px;
    animation: typewriter-effect 5s steps(100, jump-end) 0s 1 normal both;
}

.folder .container-education .text {
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    top: 0%;
    left: 12%;
    max-width: 88%;
    margin-top: 30px;
    animation: typewriter-effect 5s steps(100, jump-end) 3s 1 normal both;
}

.folder .container-experience {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 25px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    font-size: 15px;
    height: 100%;
    width: 100%;
}

.folder .container-experience .above-title {
    position: relative;
    display: block;
    overflow: hidden;
    color: var(--yellow);
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    top: 0%;
    left: 5%;
    max-width: 95%;
    margin-top: 15px;
    animation: typewriter-effect 5s steps(100, jump-end) 0s 1 normal both;
}

.folder .container-experience .title {
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 25px;
    text-transform: uppercase;
    white-space: nowrap;
    top: 0%;
    left: 5%;
    max-width: 95%;
    animation: typewriter-effect 5s steps(100, jump-end) 0s 1 normal both;
}

.folder .container-experience .text {
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 17px;
    white-space: nowrap;
    top: 0%;
    left: 12%;
    max-width: 88%;
    margin-top: 5px;
    margin-bottom: 5px;
    animation: typewriter-effect 5s steps(100, jump-end) 3s 1 normal both;
}

.folder .container-skills {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 25px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    font-size: 15px;
    height: 100%;
    width: 100%;
}

.folder .container-skills .title {
    position: relative;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    top: 3%;
    left: 5%;
}

.folder .container-skills .text {
    position: relative;
    display: block;
    max-width: 90%;
    left: 5%;
    padding: 10px;
}

.folder .container-skills .container-box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

.folder .container-skills .container-box .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--blue);
    border-radius: 100%;
    width: 85px;
    height: 85px;
    margin: auto;
}

.folder .container-skills .container-box .box:hover {
    background-color: var(--gray-dark);
    color: var(--white);
    box-shadow: 5px 5px 0 0 var(--blue);
    transform: translate(-3%, -3%);
    transition: 0.25s;
}

.folder .container-contact {
    position: absolute;
    display: block;
    border-radius: 25px;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    font-size: 15px;
    height: 100%;
    width: 100%;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    height: 100%;
    width: 100%;
}

form .flex-top {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    width: 100%;
    height: 35%;
}

form .flex-top .flex-left {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    height: 100%;
    width: 50%;
}

form .flex-top .flex-right {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    height: 100%;
    width: 50%;
}

form .flex-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 100%;
    height: 75%;
}

form .text-box {
    position: relative;
    display: block;
    border-radius: 4px;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 40px 0px 20px 0px;
}

form .text-box input {
    position: relative;
    display: block;
    border: none;
    border-radius: 4px;
    outline: 2px solid var(--white);
    background-color: transparent;
    color: var(--gray-dark);
    height: 100%;
    width: 100%;
    padding: 5px 10px 5px 10px;
}

form .text-box label {
    position: absolute;
    bottom: 107%;
    left: 20px;
}

form input:focus+label {
    color: var(--orange);
    transform: translate(30px, 0px);
    transition: 0.25s;
}

form .text-area {
    position: relative;
    display: block;
    border-radius: 4px;
    height: 70%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 30px 0px 40px 0px;
}

form .text-area textarea {
    position: relative;
    display: block;
    border: none;
    border-radius: 4px;
    outline: 2px solid var(--white);
    background-color: transparent;
    color: var(--gray-dark);
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

form .text-area label {
    position: absolute;
    bottom: 102%;
    left: 20px;
}

form textarea:focus+label {
    color: var(--orange);
    transform: translate(30px, 0px);
    transition: 0.25s;
}

form .text-box input:focus,
form .text-area textarea:focus {
    outline-color: var(--orange);
}

form .text-box input,
form .text-box label,
form .text-area textarea,
form .text-area label {
    cursor: text;
}

form .send-box {
    position: relative;
    display: block;
    border-radius: 4px;
    height: 35px;
    width: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
}

form .send-box input {
    position: relative;
    border-radius: 4px;
    border: none;
    outline: 2px solid var(--white);
    background-color: transparent;
    color: var(--gray-dark);
    height: 100%;
    width: 100%;
}

form .send-box input:hover {
    outline-color: var(--orange);
    background-color: var(--white);
    border-radius: 25px;
    transition: 0.25s;
}

button {
    color: var(--orange);
    background: none;
    border: transparent;
    width: 150px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.slide {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.slide:hover,
.slide:focus {
    color: var(--white);
    box-shadow: inset 150px 0 0 0 var(--purple);
    transition: 0.25s;
}

.slide:active {
    color: var(--white);
    box-shadow: inset 150px 0 0 0 var(--yellow);
    transition: 0.25s;
}

@keyframes typewriter-effect {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}