:root {
    --black: rgba(0, 0, 0, 1.0);
    --blue: rgba(27, 102, 133, 1.0);
    --orange: rgba(251, 112, 115, 1.0);
    --purple: rgba(114, 86, 135, 1.0);
    --white: rgba(255, 255, 255, 1.0);

    --gray: rgba(43, 42, 51, 1.0);
    --green-01: rgba(1, 56, 0, 0.0);
    --green-02: rgba(2, 141, 0, 0.5);
    --white-02: rgba(255, 255, 255, 0.25);
    --font: "Times New Roman", Times, serif;
}

body {
    background-color: var(--blue);
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

.folder {
    position: absolute;
    display: block;
    background-color: var(--white);
    height: 600px;
    width: 900px;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.folder::before {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 300px;
    width: 250px;
    border-bottom-right-radius: 25px;
    top: 0%;
    left: 30px;
    transform: translate(0%, -100%);
    box-shadow: 0px 30px 0px 0px var(--white);
    padding: 10px;
}

.folder .tab {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 25px;
    top: -7%;
    left: 100%;
    transform: translate(-100%, 0%);
    height: 300px;
    width: 600px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

button {
    color: var(--orange);
    transition: 0.25s;
    background: none;
    border: transparent;
    width: 150px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.slide {
    font-family: 'Trebuchet MS';
    text-transform: uppercase;
    letter-spacing: 2px;
}

.slide:hover,
.slide:focus {
    color: var(--white);
    box-shadow: inset 150px 0 0 0 var(--purple);
}

/* hr {
    color: var(--white-01);
    opacity: 0.25;
}

h1 {
    color: var(--white-01);
    font-family: var(--font);
    font-size: 40px;
    text-align: center;
}

h2 {
    color: var(--white-01);
    font-family: var(--font);
    font-size: 30px;
    text-align: center;
}

h3 {
    color: var(--white-01);
    font-family: var(--font);
    font-size: 20px;
    text-align: center;
}

p {
    align-items: center;
    color: var(--white-01);
    display: flex;
    font-family: var(--font);
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.grid-container-01 {
    background-color: transparent;
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-column: 1;
    padding: 20px;
}

.grid-container-02 {
    background-color: var(--green-01);
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-column: 2;
    margin: 10px;
    padding: 20px;
}

.grid-container-02:hover {
    background-color: var(--green-02);
    color: var(--gray);
    transform: scale(1.05, 1.05);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover .grid-item {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover p {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover ul {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover h1 {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover h2 {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-container-02:hover h3 {
    color: var(--gray);
    transition-duration: 2s;
    transition-property: all;
}

.grid-item {
    background-color: var(--white-02);
    border-radius: 5px;
    color: var(--white-01);
    font-family: var(--font);
    font-size: 20px;
    padding: 20px;
    text-align: left;
}

.container-item-01 {
    grid-column: 1;
    grid-row: 1 / span 5;
}

.container-item-02 {
    grid-column: 2;
    grid-row: 1;
}

.container-item-03 {
    grid-column: 2;
    grid-row: 2;
}

.container-item-04 {
    grid-column: 2;
    grid-row: 3;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
} */